<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.lsj.test.provider"></context:component-scan>

    <dubbo:annotation package="com.lsj.test.provider"></dubbo:annotation>
    <dubbo:application name="demo-provider"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2182"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2183"/>
    <dubbo:protocol name="dubbo" port="20881"/>
    <!-- service implementation, as same as regular local bean -->
    <!--<bean id="demoService" class="com.lsj.test.provider.DemoServiceImpl"/>-->
    <!--<dubbo:service interface="com.lsj.test.api.DemoService" ref="demoService"/>-->
</beans>